* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
}

.bg {
  background: #1e202a;
  height: 100vh;
  color: white;
  z-index: -2;
}

.whiteMode {
  background: white;
  color: black;
}

.header {
  background: #1f212e;
}

.header .topo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px;
  height: 200px;
}

.header .topo .rightTop h1 {
  letter-spacing: 1px;
}

.header .topo .rightTop p {
  letter-spacing: 0.5px;
}

.whiteHeader {
  background: #f5f7ff;
}

.whiteTopo .rightTop h1 {
  color: #1e202a;
  font-weight: 800;
}

.whiteTopo .rightTop p {
  color: #1e202a;
  font-weight: 700;
}

.mod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.custom-radio-btn {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(90deg, #378fe6, #3eda82);
}

.custom-radio-btn input {
  display: none;
}

.custom-radio-btn .checkmark {
  position: absolute;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1e202a;
  display: inline-block;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.custom-radio-btn input:checked + .checkmark {
  display: inline-block;
  background: white;
  left: 27px;
  -webkit-transition: 1s;
  transition: 1s;
}

.custom-radio-btn p {
  left: 55px;
  position: absolute;
  font-size: 12px;
  color: #ff8c66;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  margin: -100px auto;
}

.socialMedias {
  margin-right: 30px;
  height: 250px;
  width: 300px;
  background: #252a41;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialMedias .nome {
  margin: 30px 0 20px 0;
}

.socialMedias h1 {
  font-size: 4.5rem;
}

.socialMedias .followers {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.socialMedias p {
  color: #8b97c6;
}

.socialMedias .follow {
  color: #1db489;
  margin-top: 30px;
}

.socialMedias .unfollow {
  color: #dc414c;
  margin-top: 30px;
}

.whiteSocialMedias {
  background: #f0f2fa;
}

.whiteSocialMedias .nome {
  color: #63687e;
}

.overview {
  width: 1200px;
  margin: 160px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.overview .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overview .info .infoToday {
  width: 280px;
  height: 130px;
  background: #252a41;
  margin: 20px 20px 0 0;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.overview .info .infoToday p {
  letter-spacing: 0.5px;
  color: #8b97c6;
}

.overview .info .infoToday h2 {
  font-size: 2.5rem;
  margin-top: -20px;
}

.overview .info .infoToday .positivo {
  color: #1db489;
}

.overview .info .infoToday .negativo {
  color: #dc414c;
}

.overview .info .whiteInfoToday {
  background: #f0f2fa;
}

.overview .info .whiteInfoToday p {
  color: #1e202a;
  font-weight: 800;
}

.whiteOverview h1 {
  color: #63687e;
}
/*# sourceMappingURL=App.css.map */